<ion-app>
  <ion-split-pane contentId="main" when="md">
    <ion-menu side="start" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/home">
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>Trang chủ</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
